@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

.App {
  text-align: center;
}

.styled-button {
  background-color: #3f0a24; /* Pink background color */
  color: white; /* White text color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Add some padding */
  font-size: 16px; /* Increase font size */
  cursor: pointer; /* Change cursor to pointer */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition for background color */

}

.icon-under-button {
  width: 50px; /* Adjust size as needed */
  height: 50px;
  margin-left: 20px; /* Adjust spacing as needed */
  margin-right: 30px; /* Adjust spacing as needed */
}

.button-container {
  padding-top: 3rem;
}

.styled-button:hover {
  background-color: #ff2159;
}

.styled-text {
  font-family: 'Kalam', cursive;
  font-size: 32px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #6e002a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
